<div class="wrapper bg-light lter b-b">
	<a href ng-click="goBack()" class="btn btn-sm btn-default w-xxs m-r-sm"
		tooltip="返回列表"><i class="fa fa-long-arrow-left"></i></a>
</div>
<div class="wrapper-md">
	<div>
		<div class="row">
			<div class="col-sm-12">
				<form name="editform" class="form-horizontal form-validation">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong ng-if="entity.merchantCode==undefined">新增产品</strong> <strong
								ng-if="entity.merchantCode!=undefined">产品信息编辑</strong>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label class="col-sm-2 control-label">产品名称</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										ng-model="entity.productName" required>
								</div>
								<label class="col-sm-2 control-label">交易方式</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										ng-model="entity.accType" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">通用费率</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										ng-model="entity.commonFee" required>
								</div>
								<label class="col-sm-2 control-label">建立时间</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										ng-model="entity.createTime" disabled>
								</div>
							</div>
						</div>
						<footer class="panel-footer text-right bg-light lter">
							<button type="submit" class="btn btn-success" ng-click="save()">保存</button>
						</footer>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>