<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
	<resultMap type="com.payadd.polymer.model.aut.MerchantMessage"
		id="MerchantMessageResultMap">
		<id property="id" column="id" />
		<result property="merchantTradeNo" column="merchant_trade_no" />
		<result property="merchantCode" column="merchant_code" />
		<result property="msgType" column="msg_type" />
		<result property="reqMsg" column="req_msg" />
		<result property="respMsg" column="resp_msg" />
	</resultMap>
</mapper>  