<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
	<resultMap type="com.payadd.polymer.model.bdm.ProductRelation"
		id="ProductRelationResultMap">
		<id property="id" column="id" />
		<result property="merchantCode" column="merchant_code"/>
		<result property="productCode" column="product_code"/>
		<result property="productName" column="product_name"/>
		<result property="fee" column="fee"/>
		<result property="createTime" column="create_time"/>
		<result property="status" column="status"/>
	</resultMap>
</mapper>  