<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
	<resultMap type="com.payadd.polymer.model.sys.User"
		id="UserResultMap">
		<id property="loginName" column="login_name" />
		<result property="userName" column="user_name" />
		<result property="password" column="password" />
	</resultMap>
</mapper>  